---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class="rnp-reusables-badge not-content" href={href} target="_blank" rel="noopener noreferrer">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="13"
    height="13"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
  >
    <path d="M12 2a10 10 0 1 0 10 10H12V2Z"></path>
    <path d="M21.18 8.02A10 10 0 0 0 15.97 2.8"></path>
  </svg>
  <span>Styled version in <strong>React Native Reusables</strong></span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="12"
    height="12"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
  >
    <path d="M7 7h10v10"></path>
    <path d="M7 17 17 7"></path>
  </svg>
</a>
